@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root{
background: linear-gradient(to top, silver, black);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 90%;
    color:  orange;
    font-family: Bangers;
}

h1 {
    font-size: 4rem;
    color: gold;
    margin-bottom: 5rem;
}

h2 {
    font-size: 2rem;
    color:gold;
    margin-bottom: 5rem
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    justify-content: center;
}

.bar-color-right{
    background-color: green;
}

.bar-color-wrong{
    background-color: red;
}

.hidden {
    display: none;
}

.btn{
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.603);
    background: linear-gradient(90deg, darkslateblue 0%, darkgray 100%);
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 2rem darkblue;
    transition: transform 300ms;
    transform: scale(1.10);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, gray 0%, darkred 100%);
}

#highscore-btn:hover{
    box-shadow: 0 0.5rem 1.5rem silver;
}

.fa-medal{
    font-size: 3rem;
    margin-left: 1rem;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.5rem 0 darkslateblue;
}

input::placeholder {
    color:ghostwhite;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: ghostwhite;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: black;
}